.dash-wrapper {
  display: flex;
  height: 100vh;
  font-family: Segoe UI;
}
.sidebar {
  width: 230px;
  background: #fff;
  border-right: 1px solid #eee;
  padding: 20px;
}
.brand {
  font-weight: 700;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}
.menu li {
  padding: 10px;
  border-radius: 6px;
  
}
.user-card {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 10px;

    width: 224px;
  height: 62px;
}
.logout {
  margin-top: 20px;
  color: #777;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 30px;
  background: #f9fbff;
}
.alert-box {
  background: #fff;
  padding: 12px;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.card {
  padding: 20px;
  border-radius: 15px;
  color: #fff;
}
.blue {
  background: #0d6efd;
}
.green {
  background: #3fa08c;
}

.table-box {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.active-row {
  background: #f0f7ff;
}
.view-all {
  margin: 20px auto;
  display: block;
  padding: 8px 20px;
  border-radius: 20px;
}
.user-card img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
 
}

aside {
  display: flex;
  flex-direction: column;
  height: 100vh;      
}
.sidebar-bottom {
  margin-top: auto;   
  padding: 15px;
}

.logout {
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
}



@media (max-width: 992px) {
  .dash-wrapper{
    flex-direction: column;
  }

  .sidebar{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .menu{
    margin:0;
  }

  .user-card{
    padding:6px 10px;
  }

  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {

  .sidebar{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
  }

  .main{
    padding:15px;
  }

  .cards{
    grid-template-columns: 1fr;
  }

  .alert-box{
    flex-direction:column;
    gap:8px;
    border-radius:12px;
  }

  table{
    font-size:12px;
  }

  .user-card img{
    width:36px;
    height:36px;
  }

  .view-all{
    width:100%;
  }
}
